.newPost div {
  margin: 1rem;
}

.newPost label {
  width: 200px;
  display: inline-block;
}

.newPost input,
.newPost textarea {
  border: 1px solid rgb(99, 99, 99);
  padding: 0.5rem;
  font-size: 0.8rem;
}
.wholePost {
  display: grid;
  justify-items: center;
  padding-top: 3rem;
}
.wholePost h1 {
  font-size: 5rem;
  padding: 2rem;
}
.buttonPost {
  display: flex;
  justify-items: center;
  align-items: center;
}
