@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

form {
  padding: 20px;
  background-color: cornsilk;
  color: indigo;
}
form input {
  line-height: 1rem;
  margin: 1rem;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px plum;
  border: 0.4px solid plum;
  height: 2rem;
}
form label {
  padding: 1rem 0;
}
p {
  font-size: 2rem;
  margin-left: 20px;
}

.view {
  background: url("https://source.unsplash.com/vC8wj_Kphak/1600x900");
  height: 500px;
  padding: 20px;
  color: indigo;
}
.view p {
  font-size: 1.5rem;
}
span {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
}
